<a href="https://colab.research.google.com/github/ThakdanaiSaelee/Assignment_CE888/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook you'll create your own bootstrap function following the bootstrap algorithm (check the lecture notes!)

In [1]:
import matplotlib as plt
import pandas as pd
import seaborn as sns
import numpy as np

**Mobile Price Classification Dataset**

In [6]:
# load data from github
df_mobile = pd.read_csv('https://raw.githubusercontent.com/ThakdanaiSaelee/Assignment_CE888/main/mobile_price_classification.csv')
df_mobile.head()

   battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0            842     0          2.2  ...             0     1            1
1           1021     1          0.5  ...             1     0            2
2            563     1          0.5  ...             1     0            2
3            615     1          2.5  ...             0     0            2
4           1821     1          1.2  ...             1     0            1

[5 rows x 21 columns]